*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
}

body{
    font-family: 'Ubuntu', sans-serif;
    background: rgb(27, 29, 31);
    color: white;
    overflow: hidden;
    overflow-y: auto;


}

.page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

p{
    color: rgb(129, 137, 146);
}

.pageContent{
    margin: 1rem auto;
    max-width: 90vw;
}

