

.aboutTopDiv {
    display: flex;
    justify-content: center;
    padding: 1vmax;
}

.aboutMidDiv {
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding: 1vmax;
}

.aboutTitleText {
    font-size: 2.5vmax;
    font-weight: 400;
    margin-bottom: 1vmax;
    margin-top: 1rem;
    border-bottom: 0.1vmax cornflowerblue solid;
    padding-bottom: 4px;
}

.aboutLinkText {
    color: cornflowerblue;
    font-size: 1.5vmax;
    font-weight: 400;
}

.aboutLinkText:hover {
    border-bottom: 1px solid cornflowerblue;
}


.aboutTopText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1vmax;
}

.aboutThinText {
    font-size: 1.5vmax;
    font-weight: 100;
    color: rgb(200, 200, 200);
}


.aboutBoldText {
    font-size: 1.7vmax;
    font-weight: 600;
    color: rgb(220, 220, 220);
}


.aboutPortraitPhoto {
    width: 50%;
    max-width: 40%;
    margin: 1vmax;
}