
.home{
    min-height: 100%;
}

.homeTopContent{
    display: flex;
    margin: 3rem auto;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-bottom: 3rem;
    border-bottom: 1px solid rgb(100, 100, 100);
}

.helloText{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;
}

.myPhotoDiv{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.helloIm{
    font-size: 2rem;
    font-weight: 400;
    
}

.myName{
    font-size: 4rem;
    font-weight: 100;

}

.softDev{
    font-size: 2rem;
    font-weight: 400;

}

.myPhoto{
    object-fit: cover;
    width: 30rem;


}


.linksDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    margin: 3rem auto;
}

.projectsLink{
    display: flex;
    margin-bottom: 5rem;
    justify-content: space-between;
    overflow-x: hidden;
}

.projectsLinkText{
    display: flex;
    font-size: 3rem;
    justify-content: right;
    align-items: flex-end;
    text-align: right;
    color: white;
    font-weight: 100;
}


.projectsLinkTextDiv{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.projectsPhotoDiv{
    display: flex;
    width: 50%;
    align-items: flex-start;
    z-index: -1;
}

.projectsPhoto {
    object-fit: cover;
    width: 30rem;
}


@media screen and (max-width:1050px) {
    .helloText{white-space: break-spaces;}
}


